/* Stylesheet */
body {
  margin: 0;
  padding: 0;
}
.pic1 {
  display: flex;
  background-size: cover;
  object-fit: cover;
  height: 65vw;
  width: 100%;

}
.pic1 img{
  width: 100%;
  height: 100%;
}

.pic2{
  padding: 0;
  margin:0;
  text-align: center;

  background-color: rgb(123,74,74);
    background-size: cover; 
  text-align: center;
  height: 100vw;
  width: 100%;
}
.title{
  font-style: italic;
  font-size: 3vw;
  color:"black";
  margin: 0;
  padding:0;
  background-color: rgb(213, 194, 194);
  background-size:cover;
  border-radius: 30px;
  width: 30%;
  margin-left: 35%;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 70vmin;
  margin: 10px auto 0;
  padding: 20px;
}
.game{
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-color: rgb(70, 81, 48);
  cursor: pointer;
  border: 2px solid #000;
  font-size: 40px;
  color: white;
  font-weight: bold;
 
}
.controls{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.reset{
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background-color: rgb(70, 81, 48);
  color: white;
  cursor: pointer;
}
.reset:hover{
  background-color: #df7a7a;
}.box:hover{
  background-color: hsl(28, 57%, 59%)
}
.reset{
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor:pointer;
}